.table_header {
  color: red;
}

#Teammeet {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 100%;
  text-align: center;
}

#Teammeet:hover {
  color: darkolivegreen;
}

/* .container {
  border: solid red;
} */

.col-md-6 {
  border: solid blue;
}

.text {
  text-align: center;
}

* {
  background-color: none;
  margin: 0;
  padding: 0;
}

#background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("Sport_homepage.jpeg");
  background-position: center;
  background-size: cover;
  padding-left: 6%;
  padding-right: 6%;
}

.main_body {
  color: white;
}

.nav_section {
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.link:hover {
  color: red;
  font-size: 1.7em;
}
/*
#soccer_pic {
  width: auto;
  height: auto;
}
*/
#Log:hover {
  color: #4caf50;
}

#Sign:hover {
  color: red;
}

.Top_bt {
  background-color: #008cba;
  color: white;
}

#find {
  color: white;
  background-color: #008cba;
  text-decoration: none;
}

#find:hover {
  color: red;
}

/* .col-sm-1 {
  border: red;
} */

/* .col-md-6 {
  border: solid red;
} */

#table1 {
  border-right: 2px solid red;
}

@media only screen and (max-width: 1400px) {
  .test {
    visibility: hidden;
  }
}

.joinButton {
  color: black;
  text-decoration: none;
}

#findBody {
  background-color: seashell;
}

/* CSS for Game Info page */

#game_title {
  text-align: center;
}

#players {
}

#players table {
  border: 1px solid black;
}

#players table th {
  padding: 3em;
}

/* The 'open' text that is next to Players in the table */
.slot {
  color: grey;
}

/* Make description box bigger */
textarea {
  width: 100%;
  height: 50%;
  justify-content: end;
}
img {
  width: 100%;
  height: auto;
}

/* CSS styling for Game info page 2 */

.grid-container {
  margin: 5% auto;
  width: 90%;
  height: 100vh;
  border: 1px dashed black;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 5fr 5fr;
}

.grid-item {
  border: 1px solid black;
  background-color: wheat;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.grid-item-2 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-item-3 {
}

.grid-item-4 {
  grid-column-start: 2;
}
.grid-item-5 {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

/* The title of the game info card */
#Title {
  font-size: 3em;
}

/* The players in the game info card */
.player_list {
  margin: 2em auto;
}
