.table_header {
  color: red;
}

#Teammeet {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 100%;
  text-align: center;
}

#Teammeet:hover {
  color: darkolivegreen;
}

/* .container {
  border: solid red;
} */

.col-md-6 {
  border: solid blue;
}

.text {
  text-align: center;
}

* {
  background-color: none;
  margin: 0;
  padding: 0;
}

#background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("Sport_homepage.jpeg");
  background-position: center;
  background-size: cover;
  padding-left: 6%;
  padding-right: 6%;
}

.main_body {
  color: white;
}

.nav_section {
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.link:hover {
  color: red;
  font-size: 1.7em;
}
/*
#soccer_pic {
  width: auto;
  height: auto;
}
*/
#Log:hover {
  color: #4caf50;
}

#Sign:hover {
  color: red;
}

.Top_bt {
  background-color: #008cba;
  color: white;
}

#find {
  color: white;
  background-color: #008cba;
  text-decoration: none;
}

#find:hover {
  color: red;
}

/* .col-sm-1 {
  border: red;
} */

/* .col-md-6 {
  border: solid red;
} */
